@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
:root{
    --white: #ffffff;
    --grey: #eeeeee;
    --dark: #333333;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    margin: 10px 0;
}
p{
    margin: 5px 0;
}
.head{
    margin:  30px 0 60px 0;
}
.head > h1{
    font-weight: 400;
    font-size: 60px;
    text-align: center;
}
.head > h1 > span{
    background: var(--dark);
    color: var(--white);
    padding: 0 15px;
    border-radius: 4px;
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 50%));
}
.wrapper > div{
    padding: 50px;
    height: 100%;
}
.wrapper > div:nth-child(2){
    border-left: 2px solid var(--grey);
}
textarea{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: var(--grey);
    border-radius: 4px;
    border: none;
    outline: 0;
    color: #333;
    line-height: 20px;
}
textarea:hover{
    outline: 0;
}